<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg viewBox="0 0 483 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.43182 32H0.909091L10.5114 2.90909H21.3068L30.9091 32H22.3864L16.0227 10.9205H15.7955L9.43182 32ZM7.84091 20.5227H23.8636V26.4318H7.84091V20.5227ZM41.6655 2.90909V32H33.8246V2.90909H41.6655ZM58.6719 10.1818V15.8636H44.2969V10.1818H58.6719ZM47.081 4.95455H54.9219V24.983C54.9219 25.286 54.974 25.5417 55.0781 25.75C55.1823 25.9489 55.3433 26.1004 55.5611 26.2045C55.7789 26.2992 56.0582 26.3466 56.3991 26.3466C56.6359 26.3466 56.9105 26.3182 57.223 26.2614C57.545 26.2045 57.7817 26.1572 57.9332 26.1193L59.0696 31.6307C58.7192 31.7348 58.2173 31.8627 57.5639 32.0142C56.92 32.1657 56.1529 32.2652 55.2628 32.3125C53.4635 32.4072 51.9531 32.2225 50.7315 31.7585C49.5099 31.285 48.5914 30.5417 47.9759 29.5284C47.3603 28.5152 47.062 27.2462 47.081 25.7216V4.95455ZM72.0916 32.3977C69.7621 32.3977 67.7545 31.9527 66.0689 31.0625C64.3928 30.1629 63.1001 28.875 62.1911 27.1989C61.2914 25.5133 60.8416 23.4962 60.8416 21.1477C60.8416 18.8939 61.2962 16.9242 62.2053 15.2386C63.1143 13.553 64.3975 12.2415 66.0547 11.304C67.7119 10.3665 69.6674 9.89773 71.9212 9.89773C73.5689 9.89773 75.0604 10.1534 76.3956 10.6648C77.7308 11.1761 78.8719 11.9195 79.8189 12.8949C80.7659 13.8608 81.495 15.035 82.0064 16.4176C82.5178 17.8002 82.7734 19.358 82.7734 21.0909V22.9091H63.2848V18.5909H75.5575C75.5481 17.9659 75.3871 17.4167 75.0746 16.9432C74.7715 16.4602 74.3596 16.0862 73.8388 15.821C73.3274 15.5464 72.745 15.4091 72.0916 15.4091C71.4571 15.4091 70.8748 15.5464 70.3445 15.821C69.8142 16.0862 69.388 16.4555 69.0661 16.929C68.7536 17.4025 68.5878 17.9564 68.5689 18.5909V23.25C68.5689 23.9508 68.7157 24.5758 69.0092 25.125C69.3028 25.6742 69.7242 26.1051 70.2734 26.4176C70.8227 26.7301 71.4856 26.8864 72.2621 26.8864C72.8018 26.8864 73.2943 26.8106 73.7393 26.6591C74.1939 26.5076 74.5821 26.2898 74.9041 26.0057C75.2261 25.7121 75.4628 25.3617 75.6143 24.9545H82.7734C82.5272 26.4697 81.9448 27.786 81.0263 28.9034C80.1077 30.0114 78.8909 30.8731 77.3757 31.4886C75.87 32.0947 74.1087 32.3977 72.0916 32.3977ZM85.973 32V10.1818H93.5866V14.3295H93.8139C94.2116 12.7955 94.8414 11.6733 95.7031 10.9631C96.5743 10.2528 97.5923 9.89773 98.7571 9.89773C99.098 9.89773 99.4342 9.92614 99.7656 9.98295C100.107 10.0303 100.433 10.1013 100.746 10.196V16.8864C100.357 16.7538 99.8793 16.6544 99.3111 16.5881C98.7429 16.5218 98.2552 16.4886 97.848 16.4886C97.081 16.4886 96.3897 16.6638 95.7741 17.0142C95.1681 17.3551 94.6899 17.8381 94.3395 18.4631C93.9891 19.0786 93.8139 19.803 93.8139 20.6364V32H85.973ZM111.158 19.7273V32H103.317V10.1818H110.76V14.3295H110.987C111.461 12.947 112.294 11.8627 113.487 11.0767C114.69 10.2907 116.091 9.89773 117.692 9.89773C119.235 9.89773 120.575 10.2528 121.712 10.9631C122.857 11.6638 123.743 12.6297 124.368 13.8608C125.002 15.0919 125.315 16.4981 125.305 18.0795V32H117.464V19.7273C117.474 18.6477 117.199 17.8002 116.641 17.1847C116.091 16.5691 115.324 16.2614 114.339 16.2614C113.696 16.2614 113.132 16.4034 112.649 16.6875C112.176 16.9621 111.811 17.3598 111.555 17.8807C111.3 18.392 111.167 19.0076 111.158 19.7273ZM135.256 32.3409C133.864 32.3409 132.633 32.1136 131.562 31.6591C130.502 31.1951 129.669 30.4943 129.062 29.5568C128.456 28.6193 128.153 27.4261 128.153 25.9773C128.153 24.7841 128.357 23.7661 128.764 22.9233C129.171 22.071 129.74 21.375 130.469 20.8352C131.198 20.2955 132.045 19.8835 133.011 19.5994C133.987 19.3153 135.038 19.1307 136.165 19.0455C137.386 18.9508 138.366 18.8371 139.105 18.7045C139.853 18.5625 140.393 18.3684 140.724 18.1222C141.056 17.8665 141.222 17.5303 141.222 17.1136V17.0568C141.222 16.4886 141.004 16.053 140.568 15.75C140.133 15.447 139.574 15.2955 138.892 15.2955C138.144 15.2955 137.533 15.4612 137.06 15.7926C136.596 16.1146 136.316 16.6117 136.222 17.2841H129.006C129.1 15.9583 129.522 14.7367 130.27 13.6193C131.027 12.4924 132.131 11.5928 133.58 10.9205C135.028 10.2386 136.837 9.89773 139.006 9.89773C140.568 9.89773 141.97 10.0824 143.21 10.4517C144.451 10.8116 145.507 11.3182 146.378 11.9716C147.249 12.6155 147.912 13.3731 148.366 14.2443C148.83 15.1061 149.062 16.0436 149.062 17.0568V32H141.733V28.9318H141.562C141.127 29.7462 140.597 30.4044 139.972 30.9062C139.356 31.4081 138.651 31.7727 137.855 32C137.069 32.2273 136.203 32.3409 135.256 32.3409ZM137.812 27.3977C138.409 27.3977 138.968 27.2746 139.489 27.0284C140.019 26.7822 140.45 26.4271 140.781 25.9631C141.113 25.4991 141.278 24.9356 141.278 24.2727V22.4545C141.07 22.5398 140.848 22.6203 140.611 22.696C140.384 22.7718 140.137 22.8428 139.872 22.9091C139.616 22.9754 139.342 23.0369 139.048 23.0938C138.764 23.1506 138.466 23.2027 138.153 23.25C137.547 23.3447 137.05 23.5009 136.662 23.7188C136.283 23.9271 135.999 24.1875 135.81 24.5C135.63 24.803 135.54 25.1439 135.54 25.5227C135.54 26.1288 135.753 26.5928 136.179 26.9148C136.605 27.2367 137.15 27.3977 137.812 27.3977ZM176.346 12C176.27 11.053 175.915 10.3144 175.281 9.78409C174.656 9.25379 173.704 8.98864 172.425 8.98864C171.611 8.98864 170.943 9.08807 170.423 9.28693C169.911 9.47633 169.532 9.73674 169.286 10.0682C169.04 10.3996 168.912 10.7784 168.903 11.2045C168.884 11.5549 168.945 11.8722 169.087 12.1562C169.239 12.4309 169.476 12.6818 169.798 12.9091C170.12 13.1269 170.531 13.3258 171.033 13.5057C171.535 13.6856 172.132 13.8466 172.823 13.9886L175.21 14.5C176.819 14.8409 178.197 15.2907 179.343 15.8494C180.489 16.4081 181.426 17.0663 182.156 17.8239C182.885 18.572 183.42 19.4148 183.761 20.3523C184.111 21.2898 184.291 22.3125 184.3 23.4205C184.291 25.3333 183.813 26.9527 182.866 28.2784C181.919 29.6042 180.565 30.6127 178.803 31.304C177.051 31.9953 174.944 32.3409 172.482 32.3409C169.954 32.3409 167.747 31.9669 165.863 31.2188C163.988 30.4706 162.53 29.3201 161.488 27.767C160.456 26.2045 159.935 24.2064 159.925 21.7727H167.425C167.473 22.6629 167.695 23.411 168.093 24.017C168.491 24.6231 169.049 25.0824 169.769 25.3949C170.498 25.7074 171.365 25.8636 172.369 25.8636C173.211 25.8636 173.917 25.7595 174.485 25.5511C175.053 25.3428 175.484 25.054 175.778 24.6847C176.071 24.3153 176.223 23.8939 176.232 23.4205C176.223 22.9754 176.076 22.5871 175.792 22.2557C175.517 21.9148 175.063 21.6117 174.428 21.3466C173.794 21.072 172.937 20.8163 171.857 20.5795L168.96 19.9545C166.384 19.3958 164.353 18.4631 162.866 17.1562C161.388 15.84 160.655 14.0455 160.664 11.7727C160.655 9.92614 161.147 8.31155 162.141 6.92898C163.145 5.53693 164.532 4.45265 166.303 3.67614C168.084 2.89962 170.124 2.51136 172.425 2.51136C174.774 2.51136 176.805 2.90436 178.519 3.69034C180.233 4.47633 181.554 5.58428 182.482 7.0142C183.42 8.43466 183.893 10.0966 183.903 12H176.346ZM200.43 10.1818V15.8636H186.055V10.1818H200.43ZM188.839 4.95455H196.68V24.983C196.68 25.286 196.732 25.5417 196.836 25.75C196.94 25.9489 197.101 26.1004 197.319 26.2045C197.537 26.2992 197.816 26.3466 198.157 26.3466C198.394 26.3466 198.668 26.3182 198.981 26.2614C199.303 26.2045 199.54 26.1572 199.691 26.1193L200.827 31.6307C200.477 31.7348 199.975 31.8627 199.322 32.0142C198.678 32.1657 197.911 32.2652 197.021 32.3125C195.221 32.4072 193.711 32.2225 192.489 31.7585C191.268 31.285 190.349 30.5417 189.734 29.5284C189.118 28.5152 188.82 27.2462 188.839 25.7216V4.95455ZM217.777 22.4545V10.1818H225.618V32H218.175V27.8523H217.947C217.474 29.2443 216.645 30.3333 215.462 31.1193C214.278 31.8958 212.872 32.2841 211.243 32.2841C209.718 32.2841 208.383 31.9337 207.237 31.233C206.101 30.5322 205.215 29.5663 204.581 28.3352C203.956 27.1042 203.639 25.6932 203.629 24.1023V10.1818H211.47V22.4545C211.48 23.5341 211.754 24.3816 212.294 24.9972C212.843 25.6127 213.61 25.9205 214.595 25.9205C215.249 25.9205 215.812 25.7831 216.286 25.5085C216.768 25.2244 217.138 24.8267 217.393 24.3153C217.659 23.7945 217.786 23.1742 217.777 22.4545ZM237.504 32.2841C235.951 32.2841 234.521 31.8769 233.214 31.0625C231.916 30.2481 230.875 29.0123 230.089 27.3551C229.312 25.6979 228.924 23.6098 228.924 21.0909C228.924 18.4583 229.331 16.3182 230.146 14.6705C230.969 13.0227 232.03 11.8153 233.327 11.0483C234.634 10.2812 236.007 9.89773 237.447 9.89773C238.526 9.89773 239.473 10.0871 240.288 10.4659C241.102 10.8352 241.784 11.3324 242.333 11.9574C242.882 12.5729 243.299 13.25 243.583 13.9886H243.697V2.90909H251.538V32H243.754V28.4205H243.583C243.28 29.1591 242.844 29.822 242.276 30.4091C241.718 30.9867 241.036 31.446 240.231 31.7869C239.435 32.1184 238.526 32.2841 237.504 32.2841ZM240.401 26.2614C241.121 26.2614 241.737 26.053 242.248 25.6364C242.769 25.2102 243.166 24.6136 243.441 23.8466C243.725 23.0701 243.867 22.1515 243.867 21.0909C243.867 20.0114 243.725 19.0881 243.441 18.321C243.166 17.5445 242.769 16.9527 242.248 16.5455C241.737 16.1288 241.121 15.9205 240.401 15.9205C239.682 15.9205 239.066 16.1288 238.555 16.5455C238.053 16.9527 237.665 17.5445 237.39 18.321C237.125 19.0881 236.992 20.0114 236.992 21.0909C236.992 22.1705 237.125 23.0985 237.39 23.875C237.665 24.642 238.053 25.2339 238.555 25.6506C239.066 26.0578 239.682 26.2614 240.401 26.2614ZM255.387 32V10.1818H263.228V32H255.387ZM259.308 7.90909C258.247 7.90909 257.338 7.55871 256.58 6.85795C255.823 6.1572 255.444 5.31439 255.444 4.32955C255.444 3.3447 255.823 2.50189 256.58 1.80114C257.338 1.10038 258.247 0.75 259.308 0.75C260.378 0.75 261.287 1.10038 262.035 1.80114C262.792 2.50189 263.171 3.3447 263.171 4.32955C263.171 5.31439 262.792 6.1572 262.035 6.85795C261.287 7.55871 260.378 7.90909 259.308 7.90909ZM277.734 32.3977C275.367 32.3977 273.34 31.929 271.655 30.9915C269.969 30.0445 268.677 28.7282 267.777 27.0426C266.877 25.3475 266.428 23.3826 266.428 21.1477C266.428 18.9129 266.877 16.9527 267.777 15.267C268.677 13.572 269.969 12.2557 271.655 11.3182C273.34 10.3712 275.367 9.89773 277.734 9.89773C280.102 9.89773 282.128 10.3712 283.814 11.3182C285.5 12.2557 286.792 13.572 287.692 15.267C288.591 16.9527 289.041 18.9129 289.041 21.1477C289.041 23.3826 288.591 25.3475 287.692 27.0426C286.792 28.7282 285.5 30.0445 283.814 30.9915C282.128 31.929 280.102 32.3977 277.734 32.3977ZM277.791 26.6023C278.454 26.6023 279.027 26.3797 279.51 25.9347C279.993 25.4896 280.367 24.8551 280.632 24.0312C280.897 23.2074 281.03 22.2273 281.03 21.0909C281.03 19.9451 280.897 18.965 280.632 18.1506C280.367 17.3267 279.993 16.6922 279.51 16.2472C279.027 15.8021 278.454 15.5795 277.791 15.5795C277.09 15.5795 276.489 15.8021 275.987 16.2472C275.485 16.6922 275.102 17.3267 274.837 18.1506C274.571 18.965 274.439 19.9451 274.439 21.0909C274.439 22.2273 274.571 23.2074 274.837 24.0312C275.102 24.8551 275.485 25.4896 275.987 25.9347C276.489 26.3797 277.09 26.6023 277.791 26.6023Z"
      fill="#0000FF"/>
    </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>クソオタクによる</span>
            <span class="font-bold">クリエイティブスタジオ</span>
            <span class="italic">テクノロジーでの新しい表現方法で世界への文句を垂れる。</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >現在団員募集中！</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://github.com/michael-andreuzza"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="https://dribbble.com/MichaelAndreuzza"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M19.989 11.572a7.96 7.96 0 0 0-1.573-4.351 9.749 9.749 0 0 1-.92.87 13.157 13.157 0 0 1-3.313 2.01c.167.35.32.689.455 1.009v.003a9.186 9.186 0 0 1 .11.27c1.514-.17 3.11-.108 4.657.101.206.028.4.058.584.088zm-9.385-7.45a46.164 46.164 0 0 1 2.692 4.27c1.223-.482 2.234-1.09 3.048-1.767a7.88 7.88 0 0 0 .796-.755A7.968 7.968 0 0 0 12 4a8.05 8.05 0 0 0-1.396.121zM4.253 9.997a29.21 29.21 0 0 0 2.04-.123 31.53 31.53 0 0 0 4.862-.822 54.365 54.365 0 0 0-2.7-4.227 8.018 8.018 0 0 0-4.202 5.172zm1.53 7.038c.388-.567.898-1.205 1.575-1.899 1.454-1.49 3.17-2.65 5.156-3.29l.062-.018c-.165-.364-.32-.689-.476-.995-1.836.535-3.77.869-5.697 1.042-.94.085-1.783.122-2.403.128a7.967 7.967 0 0 0 1.784 5.032zm9.222 2.38a35.947 35.947 0 0 0-1.632-5.709c-2.002.727-3.597 1.79-4.83 3.058a9.77 9.77 0 0 0-1.317 1.655A7.964 7.964 0 0 0 12 20a7.977 7.977 0 0 0 3.005-.583zm1.873-1.075a7.998 7.998 0 0 0 2.987-4.87c-.34-.085-.771-.17-1.245-.236a12.023 12.023 0 0 0-3.18-.033 39.368 39.368 0 0 1 1.438 5.14zM12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="https://twitter.com/Mike_Andreuzza"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M15.3 5.55a2.9 2.9 0 0 0-2.9 2.847l-.028 1.575a.6.6 0 0 1-.68.583l-1.561-.212c-2.054-.28-4.022-1.226-5.91-2.799-.598 3.31.57 5.603 3.383 7.372l1.747 1.098a.6.6 0 0 1 .034.993L7.793 18.17c.947.059 1.846.017 2.592-.131 4.718-.942 7.855-4.492 7.855-10.348 0-.478-1.012-2.141-2.94-2.141zm-4.9 2.81a4.9 4.9 0 0 1 8.385-3.355c.711-.005 1.316.175 2.669-.645-.335 1.64-.5 2.352-1.214 3.331 0 7.642-4.697 11.358-9.463 12.309-3.268.652-8.02-.419-9.382-1.841.694-.054 3.514-.357 5.144-1.55C5.16 15.7-.329 12.47 3.278 3.786c1.693 1.977 3.41 3.323 5.15 4.037 1.158.475 1.442.465 1.973.538z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li><li>
              <a
                href="mailto:michael@andreuzza.com"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
    </div>
  </div>
</section>
