---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        1960年代、つまるところ第二次世界大戦後、アメリカのサンフランシスコにはヒッピーと呼ばれるものたちがいた。
        そのヒッピーと呼ばれる連中は従来の「大企業に入れば幸せ」「他人を陥れてでも競争で勝つ」<s>「コーナーで差をつけろ」</s>とかいう親世代の価値観や西洋的な競争原理主義を否定し、旅をしてそういう世界から逃亡を図ることにした。
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        たまたまそのヒッピーのコミュニティに学校でいじめられた情けない電気オタク少年たちもいた。
        その少年らはすぐにヒッピーの思想に染まって、自分たちが愛するコンピューターを支配し、そして巨大な権力を持つIBMを敵と認識した。
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        少年らはすぐに理解した。
        コンピューターはスーツを着たつまらない大人に独占されているけど、そのコンピューターモドキは自分たちで作ることができる。
        そして大人たちに言ってやるんだ。コンピューターは僕らのものだ！って。
        それが今のパーソナル・コンピューターだ。
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        この話を聞いて僕はおもった。
        パソコンはロックだとおもった。
        8:30まで校舎へ登校し、8:45分に起立し、礼をして勉強を始めるこのクソッタレた毎日にさようならできるかもしれない。
        そう、PCならね。
        PCは世の中で最もクールなギターだ。
        そしてこのAlterna Studioはギターを持って世の中へ中指を立てるオルタナティブ・ミュージックバンドなんだ。
      </p>
    </div>
  </div>

</section>
